.dropzone {
  border:1px dashed var(--stroke-default);
  border-radius: .5rem;
  display: grid;
  justify-items: center;
  gap:.5rem;
  text-align: center;
  padding-block:1.75rem;
  position: relative;

  & input {
    border:none;
    position:absolute;
    height: 100%;
    width: 100%;
    opacity: 0;

  }

  & p {
    color:#A8A29E;
    
  }

  &:hover, &:has(input:focus) {
  border:2px dashed var(--stroke-highlight);
  background-color:var(--surface-secondary);
    & p {
      color: var(--text-tertiary); 
    }

    & svg path {
      stroke: var(--stroke-highlight);

    }

  }
}